@font-face {
  font-family: 'SF Compact Text' ;
  src: url('fonts/SFCompactText-Regular.eot');
  src: local('SF Compact Text Regular'), local('SFCompactText-Regular'),
          url('fonts/SFCompactText-Regular.eot?#iefix') format('embedded-opentype'),
          url('fonts/SFCompactText-Regular.woff2') format('woff2'),
          url('fonts/SFCompactText-Regular.woff') format('woff'),
          url('fonts/SFCompactText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Compact Text';
  src: url('fonts/SFCompactText-Bold.eot');
  src: local('SF Compact Text Bold'), local('SFCompactText-Bold'),
          url('fonts/SFCompactText-Bold.eot?#iefix') format('embedded-opentype'),
          url('fonts/SFCompactText-Bold.woff2') format('woff2'),
          url('fonts/SFCompactText-Bold.woff') format('woff'),
          url('fonts/SFCompactText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
  
html
  font-family 'SF Compact Text'
  background-color #fafbfc
  color #343434